@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100,400;1,700&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #171622;
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  outline: none;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

.page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr 400px;
  gap: 30px;
  overflow: hidden;
}
.sideNav {
  height: 100%;
  display: grid;
  grid-template-rows: 70px 1fr auto;
}

.linerBg {
  background: linear-gradient(to bottom right, #222222, #392c58);
}
.lingerBgSingupLoginDiv {
  background: linear-gradient(to bottom right, #102e74, #121d5d, #0f0c39, #1a0e4c);
}
.toUp{
  position: absolute;
  transform: translateY(-50%);
  left: 5%;
  z-index: 10;
}
@layer components {
  .btn {
    @apply px-5 py-2 text-center w-full;
  }
  .inputDiv {
    @apply bg-[#1C1B22] flex items-center gap-3 py-2 px-3 text-white rounded-md optional:bg-[#1C1B22];
  }
  .input {
    @apply bg-transparent w-full outline-none text-white;
  }
  .simpleTransition {
    @apply transition-all duration-300;
  }
  .buble {
    @apply hover:scale-125 transition-all duration-300;
  }
  .card {
    @apply bg-[#212130] rounded-2xl p-5 w-full opacity-80;
  }
}
