@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100,400;1,700, 800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  outline: none;
}

*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  background-clip: padding-box;
}

.logo {
  font-family: "Lemonada", cursive;
}

.logoText {
  font-family: "Parisienne", cursive;
}
.page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  overflow: hidden;
}
.sideNav {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 70px 1fr auto;
  overflow-y: auto;
}
.linerBg {
  background: linear-gradient(to bottom right, #222222, #392c58);
}
.lingerBgSingupLoginDiv {
  background: linear-gradient(to bottom right, #102e74, #121d5d, #0f0c39, #1a0e4c);
}
.toUp {
  position: absolute;
  transform: translateY(-50%);
  left: 20px;
  z-index: 10;
}

.modal {
  background: rgba(9, 28, 82, 0.8);
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
}

.modalBody {
  max-height: 500px;
  overflow-y: scroll;
}

@layer components {
  .btn {
    @apply px-5 py-2 text-center w-full;
  }
  .inputDiv {
    @apply bg-[#1C1B22] flex items-center gap-3 py-2 px-3 text-white rounded-md optional:bg-[#1C1B22];
  }
  .input {
    @apply bg-transparent w-full outline-none text-white;
  }
  .simpleTransition {
    @apply transition-all duration-300;
  }
  .buble {
    @apply hover:scale-125 transition-all duration-300;
  }
  .card {
    @apply bg-[#070B27] rounded-2xl p-5 w-full opacity-70;
  }
  .centerXY {
    @apply flex items-center justify-center;
  }
}
